<div class="row">
    <div class="col-md-8 col-sm-10 ml-auto mr-auto">
        <h1>User Profile</h1>
        <hr>
        <h2>My Orders</h2>
        {{#each orders}}
        <div class="card">
            <div class="card-body">
                <ul class="list-group">
                    {{#each this.items}}
                    <li class="list-group-item">
                        <span class="badge badge-success"> {{this.price}} </span>
                        {{this.item.title}} | {{this.qty}} Units
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="panel-footer">${{this.cart.totalPrice}}</div>
        </div>
        <br>
        {{/each}}
    </div>
</div>