.thumbnail img{
height: 200px;
}
.thumbnail description{
    color: #7f7f7f;
}
.price{
    font-weight: bold;
    font-size: 16px;
}
.card-block img{
    min-height: 40vh;
    max-height: 40vh;
    /* box-sizing: border-box;     */
    width: 100%;
}
/* .card{
    border: none;
} */