.thumbnail img{
height: 200px;
}
.thumbnail description{
    color: #7f7f7f;
}
.price{
    font-weight: bold;
    font-size: 16px;
}
.card-block img{
    min-height: 72vh;
    height: 72vh;
    /* box-sizing: border-box;     */
    width: 100%;
}
.card{
    border: none;
    padding-bottom: 35px;

}
.card-block{
    text-align: center;
}
.center{
    text-align: center;
}

div .link a{
    /* text-decoration: none; */
    color: black;
    font-size: 20px;
}
